---
import  { t } from "i18next";
---

<div class="pb-12 py-12">
    <div class="relative mx-auto text-center bg-gradient-to-br from-sky-600 via-sky-800 to-sky-700 text-white p-4 pb-6 rounded-md shadow-md overflow-hidden max-w-md w-full">
        <div class="absolute inset-y-0 left-0 flex items-center justify-end">
        </div>
        <p class="text-lg font-semibold italic">{t("projectsLabels.ProjectMemorial")}</p>
        <p class="mt-2 text-sm">{t("projectsLabels.ProjectMemorialAuthor")}</p>
    </div>
</div>
