<div class="bg-[#07608f] text-white text-xs lg:text-sm font-medium me-2 px-2.5 py-0.5 rounded-lg dark:bg-[#07608f] dark:text-white text-center relative">
    <slot></slot>
    <span class="absolute top-0 right-0 mt-1 mr-1">
        <span class="relative flex size-3 lg:size-4">
            <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-red-400 opacity-75"></span>
        </span>
    </span>
</div>
